<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.spotlight.Goodbuy"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="10" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".SplashScreenActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GoodbuyActivity">
            <intent-filter>
                <action android:name="com.spotlight.Goodbuy.GoodbuyActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="CategoriesActivity"></activity>
        <activity android:name="ProductsActivity"></activity>
        <activity android:name="OrderActivity" android:theme="@android:style/Theme.Dialog"></activity>
        <activity android:name="CartActivity"></activity>
    </application>
</manifest>